<div class="container mt-5">
    <h1 class="text-center">All Queries</h1>

    <!-- Search Form -->
    <form class="d-flex justify-content-center my-4" method="GET" action="/admin/check-queries">
        <input type="text" class="form-control w-50" name="search" placeholder="Search by username or email" value="<%= searchQuery %>">
        <button type="submit" class="btn btn-primary mx-2">Search</button>
    </form>

    <table class="table table-bordered table-striped table-hover mt-4">
        <thead class="table-dark">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th scope="col">Message</th>
                <th scope="col">Date Submitted</th>
            </tr>
        </thead>
        <tbody>
            <% if (queries.length > 0) { %>
                <% queries.forEach(query => { %>
                    <tr>
                        <td><%= query.username %></td>
                        <td><%= query.email %></td>
                        <td><%= query.contact %></td>
                        <td><%= query.message %></td>
                        <td><%= query.createdAt.toLocaleDateString() %></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="5" class="text-center">No queries found</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>